#buttons {
  width: 95%;
  opacity: 0.9;
  background-color: #e6e6e6;
  z-index: 1001;
  position: fixed;
  padding: 0px;
  margin-top: 0;
  margin-right: 10px;
  box-shadow: 0em .1em .5em .5em rgba(0,0,0,.45);
}

body {
  background-color: #eee;
  color: #555;
}

.greektext {
  z-index: 1000;
  background-color: #fff;
  margin: 6em auto;
  margin-top: 3em;
  padding: 0.5em;
  border-radius: .25em;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  display: inline-block;
}

.epigram {
  margin-bottom: 1.5em;
}

.line {
  display: block;
  line-height: 1.3rem;
  margin-left: 20px;
}

.ref {
  display: inline-block;
  min-width: 3.5em;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
  font-family: monospace;
  font-size: 0.85em;
  text-align: right;
}

.selected {
  line-height: 200%;
}

.selected .short,
.selected .long {
  display: inline-block;
  min-width: 1em;
  padding-top: 0.2em;
  background-origin: content-box;
  margin-right: 1px;
  text-align: center;
}

.newpara {
  margin-top: 2em;
}

.speech {
  background: #F2F2F2;
}

.wordend::after {
  content: "\00a0";
}

.error {
  color: #c44;
  font-style: italic;
}

.nonstandard {
  background-color: #ffa;
}
